
#defaultCanvas0{
    border-radius: 20px;
    margin-bottom: 50px;
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.507),
    0 2px 200px 0 rgba(0, 0, 0, 0.945) !important;
    max-width: 500px;
    max-height: 500px;
}

@media only screen and (max-width: 550px) {
    html{
        overflow: hidden;
    }
    .popup{
      position: absolute;
      top:50%;
        display: block;
        border: solid 2px white;
        text-align: center;
    }
    .main,#defaultCanvas0{
        filter:blur(5px);
        margin-top: 140px;
    }
}

input[type="text"]{
  background: rgba(200, 200, 255, 0.2) ;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  color:white;
  font-size: 18px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.05);
  border-width: 2px;
  outline: none;
}

@media screen and (max-width: 550px) {
    .popupWrapper {
        display: inline;
    }
    .main {
        filter: blur(15px);
        -webkit-filter: blur(15px);
    }
}
