---
import { getCollection } from "astro:content";
import GenericLink from "@components/blog-utils/generic-link.astro";
import MainLayout from "@layouts/index.astro";

export async function getStaticPaths() {
    const blogs = await getCollection(
        "notes",
        (e) => !import.meta.env.PROD || e.data.released === true
    );

    return Array.from(Object.entries(blogs)).map(([_, body]) => ({
        params: {
            path: body.slug
        },
        props: {
            title: body.data.title,
            render: body.render
        }
    }));
}

const { title, render } = Astro.props;

const { Content } = await render();
---

<MainLayout>
    <div class="mx-auto w-fit p-10 dark:text-white">
        <h2 class="w-fit">{title}</h2>
        <div
            class="prose my-3 w-fit min-w-[50vw] dark:prose-invert [&_svg[id^='mermaid']]:mx-auto"
        >
            <Content />
        </div>
        <GenericLink link="/notes">
            <h2 class="font-bold underline">Back to notes...</h2>
            <p>click here to go back to more</p>
        </GenericLink>
    </div>
</MainLayout>
