---
import { getCollection } from "astro:content";
// import GenericLink from "@components/blog-utils/generic-link.astro";
import MainLayout from "@layouts/index.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
    // const test = await getCollection("notes");

    const collection = await getCollection("notes");

    const paths = collection
        .map((e) => e.id)
        .reduce<string[]>(
            (acc, pa) => {
                const pat = pa.split("/").slice(3);

                return [
                    ...new Set([
                        ...acc,
                        ...pat.map((p, pI) =>
                            pI !== 0 ? pat.slice(0, pI + 1).join("/") : p
                        )
                    ])
                ];
            },
            [""]
        );

    return paths.map((path) => {
        const entries = collection.filter((e) => {
            return (
                e.id.includes(path) &&
                (!import.meta.env.PROD || e.data.released === true)
            );
        });

        return {
            params: { path },
            props: {
                title: path,
                entries,
                meta: entries.map((e) => ({
                    path: e.id.split("/").slice(3).join("/"),
                    id: e.id,
                    ...e.data,
                    rendered: e.rendered
                }))
            }
        };
    });
}

const { title, entries, meta } = Astro.props;

const { Content } =
    entries.length === 1 ? await render(entries[0]) : { Content: null };
---

<MainLayout>
    <div class="mx-auto w-fit p-10 dark:text-white">
        <h2 class="my-4 w-fit underline">{title.length == 0 ? "Index" : title}</h2>

        <ul class="list-disc">
            {
                meta.length !== 1
                    ? meta.map((note) => (
                          <li>
                              <a
                                  href={note.path}
                                  class="text-blue-500 hover:underline"
                              >
                                  {note.title}
                              </a>
                          </li>
                      ))
                    : Content && (
                          <div class="prose my-3 w-fit min-w-[50vw] dark:prose-invert [&_*[aria-hidden='true']]:hidden [&_svg[id^='mermaid']]:mx-auto">
                              <Content />
                          </div>
                      )
            }
        </ul>
    </div>
</MainLayout>
