---
import MainLayout from "../../layouts/index.astro";
import Tags from "@components/blog-utils/tags.svelte";
import CurrentBlogs from "@components/blog-utils/current-blogs.svelte";
import GenericLink from "@components/blog-utils/generic-link.astro";
import HideNoSlug from "@components/blog-utils/hide-no-slug.svelte";
---

<MainLayout>
    <div class="pb-10">
        <Tags client:load />
        <CurrentBlogs client:load />

        <div class="flex flex-col gap-4">
            <HideNoSlug client:load>
                <GenericLink link="/notes" style="px-3 py-1 block ml-10">
                    <h2 class="font-semibold underline">
                        Click to go back to rest of notes
                    </h2>
                </GenericLink>
            </HideNoSlug>
            <GenericLink link="/" style="px-3 py-1 block ml-10">
                <h2 class="font-semibold underline">Click to go back landing...</h2>
            </GenericLink>
        </div>
    </div>
</MainLayout>
