---
import GenericLink from "@components/blog-utils/generic-link.astro";
import MainLayout from "@layouts/index.astro";

import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const records = await getCollection("records");

const images = import.meta.glob<{ default: ImageMetadata }>(
    "../../../assets/records/*.webp"
);
---

<MainLayout>
    <div class="mx-auto p-10 dark:text-white">
        <h2 class="w-fit">All my records 😊</h2>
        <div
            class="gap-15 prose my-3 grid w-fit min-w-full grid-cols-2 gap-10 dark:prose-invert md:grid-cols-4 lg:grid-cols-6"
        >
            {
                records
                    .sort(
                        (a, b) =>
                            a.data.artist.charCodeAt(0) - b.data.artist.charCodeAt(0)
                    )
                    .map(({ data }) => {
                        return (
                            <div class="flex flex-col">
                                <h3>{data.artist}</h3>
                                <Image
                                    src={data.file}
                                    alt="album cover"
                                    width="200"
                                    height="200"
                                    class="flex-1 object-contain"
                                />
                                <h4>{data.album}</h4>
                                <div>
                                    {Array.from({ length: data.rating }).map((_) => (
                                        <span>⭐</span>
                                    ))}
                                </div>
                            </div>
                        );
                    })
            }
            {
                Object.keys(images).length && (
                    <div class="flex items-center text-center text-opacity-75">
                        <p>
                            at least {Object.keys(images).length} more pictures to
                            come
                        </p>
                    </div>
                )
            }
        </div>
        <div class="flex flex-col gap-4">
            <GenericLink link="/notes">
                <h2 class="font-semibold underline">
                    Click to go back to rest of notes
                </h2>
            </GenericLink>

            <GenericLink link="/">
                <h2 class="font-semibold underline">Click to go back landing...</h2>
            </GenericLink>
        </div>
    </div>
</MainLayout>
