---
interface Props {
    link: string;
}

const { link } = Astro.props;
---

<a
    class="block w-fit border-1 border-black px-2 py-1 shadow-md transition-colors duration-300 hover:bg-gray-300 dark:border-white dark:text-white dark:hover:bg-white dark:hover:text-black"
    href={link}
>
    <slot />
</a>
