.headul {
	list-style: none;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	margin: 0;
}

.headli {
	list-style-type: none;
	float: left;
}

.logo {
	height: 70px;
	&:hover {
		opacity: 0.5;
	}
}
