h2 {
	text-transform: capitalize;
	font-size: 25pt;
}

h3 {
	text-transform: capitalize;
	font-size: 20pt;
}

.logo:hover {
	opacity: 0.5;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input[type='text'] {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 5px;
	font-size: 12pt;
	border: none;
	border-radius: 15px;
	&:focus {
		outline: none;
	}
	&:hover {
		color: black;
		background-color: grey;
	}
}

.generalContainer {
	background: #2f3439;
	box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.507), 0 2px 50px 0 rgba(0, 0, 0, 0.945);
	border-radius: 30px;
	padding: 15px 30px;
	margin: 35px auto;
	width: calc(80% - 50px);
	max-width: 1200px;
	line-height: 1;
}

.p5Container {
	text-align: center;
	canvas {
		display: inline;
		border-radius: 35px;
		box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.507), 0 2px 20px 0 rgba(0, 0, 0, 0.945);
	}
}

.warning {
	margin: 10px auto;
	background-color: #b53d3d;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 20px;
}
