span{
  font-size: 22.5px;
  line-height: 2;
}

button{
  background: linear-gradient(to right, #55B49D , #2B7DCA);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  color:white;
  font-size: 18px;
  border: none;
  font-weight: normal;
  text-transform: capitalize;
  outline: none;
  display:block;
  margin-top:15pt;
}

button:hover {
  filter: hue-rotate(90deg);
}

input[type="text"],textarea{
  background: rgba(200, 200, 255, 0.2) ;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  border-radius: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  color:white;
  font-size: 18px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.05);
  border-width: 2px;
  outline: none;
  margin-top:5pt;
  margin-bottom:5pt;
}

textarea { 
  resize: none; 
  width:75%;
  height: 100px;
}

.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%; margin-left:20px;margin-right:20px
}

@media all and (min-width: 890px) {
  .aside { flex: 1 0 0; }
}

input[type="checkbox"]{
  border-radius: 1px
}

#lol,#lol2{
  display: none;
}