---
import MainLayout from "@layouts/index.astro";
---

<MainLayout
    ><div class="prose mx-auto w-full max-w-screen-md p-10 dark:prose-invert">
        <h2 class="text-center underline">Demo video for Interim Report</h2>
        <video
            class="max-w-screen-md rounded-lg border-2 border-white"
            controls
            src="https://storage.chazzox.uk/demo.mp4"></video>
    </div>
</MainLayout>
