@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

/*Basic font styling for everything*/
* {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	color: white;
}

.generalContainer {
	background: #2f3439;
	box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.507), 0 2px 50px 0 rgba(0, 0, 0, 0.945);
	border-radius: 30px;
	padding: 15px 30px;
	margin: 35px auto;
	width: calc(100vw - 150px);
	max-width: 1200px;
	line-height: 1;
}

.absCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

html {
	background: linear-gradient(153deg, #667eff 5%, #ff849d 100%);
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

.bigBox {
	width: calc(100vw - 20px);
	max-width: 900px;
	background-color: #f7eaea;
	box-shadow: 27px 43px 92px -6px rgba(0, 0, 0, 0.75);
	width: 100%;
	height: calc(100vh - 200px);
	padding: 15px;
	box-sizing: border-box;
	border-radius: 55px;
	#mainContent {
		position: absolute;
		right: 30px;
		top: 30px;
		height: calc(100% - 30px);
		width: calc(50% - 60px);
		height: 100%;
		h1 {
			margin-bottom: 10px;
		}
		h2 {
			margin-top: 0px;
			margin-bottom: 30px;
		}
	}
	#sidebar {
		position: absolute;
		left: 30px;
		top: 30px;
		width: calc(50% - 60px);
		height: calc(100% - 60px);
		display: flex;
		flex-direction: column;
		overflow: hidden;
		.project {
			&:first-child {
				border-radius: 40px 40px 0 0;
			}
			&:last-child {
				border-radius: 0 0 40px 40px;
			}
			text-decoration: none;
			width: 100%;
			display: block;
			text-align: center;
			flex: 1;
			overflow: hidden;
			position: relative;
			transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			span {
				display: block;
				font-size: 24px;
				transform: translate(-50%, -50%) rotate(-60deg) scale(0.5);
				opacity: 0;
				transition: all 0.3s ease;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
			}
			.pseudoElement {
				position: absolute;
				height: 250%;
				width: 250%;
				top: -50%;
				left: -50%;
				background-repeat: no-repeat;
				background-size: 100%;
				background-position: center;
				transform: rotate(30deg);
				transition: all 0.3s ease;
				-webkit-transition: all 0.3s ease;
				-moz-transition: all 0.3s ease;
				-o-transition: all 0.3s ease;
				-ms-transition: all 0.3s ease;
			}

			&:hover {
				flex: 2;
				.pseudoElement {
					opacity: 1 !important;
					background-size: 130%;
					transform: rotate(10deg);
				}
				span {
					opacity: 1;
					transform: rotate(0deg) translate(-50%, -50%) scale(1);
				}
			}
		}
		&:hover {
			.project {
				height: 30%;
				.pseudoElement {
					opacity: 0.6;
				}
			}
		}
	}
	h1,
	h2,
	p {
		color: #875fb3;
	}

	h1 {
		font-size: 40pt;
		font-weight: 900;
	}

	p {
		font-size: 14pt;
	}
}

#particles {
	position: 'fixed';
	top: 0;
	z-index: -99;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 100px;
}

::-webkit-scrollbar:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:vertical {
	background: #866d5f;
	border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
	background: #5c4a40;
	border-radius: 100px;
}
