---
import { getCollection } from "astro:content";
import GenericLink from "@components/generic-link.astro";

const posts = await getCollection(
    "blogs",
    (c) => c.data.folder.id === "order-of-st-lazarus"
);

const tags = posts.reduce((prev, cur) => {
    cur.data.tags?.forEach((t) => (prev.includes(t.id) ? null : prev.push(t.id)));
    return prev;
}, [] as string[]);
---

<div class="p-10">
    <div class="flex gap-4">
        {
            tags.map((p) => (
                <div class="cursor-pointer px-1 border-black border-2 shadow-2xl">
                    {p}
                </div>
            ))
        }
    </div>

    <div>
        {
            posts.map((post) => (
                <GenericLink link={`/blogs/${post.slug}`}>
                    <h2 class="font-bold underline">{post.data.title}</h2>
                    <p>{post.data.description}</p>
                </GenericLink>
            ))
        }
    </div>

    <GenericLink link="/blogs" style="px-3 py-1">
        <h2 class="font-bold underline">Click to go back to rest of blogs</h2>
    </GenericLink>
</div>
