---
interface Props {
    url: string;
    name: string;
    description: string;
    openInNewTab?: boolean;
}

const { url, name, description, openInNewTab = false } = Astro.props;
---

<div class="projectContainer mt-3">
    <p class="sm:py-1">
        <a
            href={url}
            target={openInNewTab ? "_blank" : ""}
            class="text-lg underline sm:text-base">{name}</a
        ><span class="hidden whitespace-pre px-3 sm:inline">-</span><span
            class="block sm:inline">{description}</span
        >
    </p>
</div>
