---
interface Props {
    href: string;
    target?: astroHTML.JSX.HTMLAttributeAnchorTarget;
}

const { href, target = "_blank" } = Astro.props;
---

<a {...{ target, href }} class="font-semibold underline"><slot /></a>
