---
import { getCollection } from "astro:content";
import GenericLink from "@components/blog-utils/generic-link.astro";
import MainLayout from "@layouts/index.astro";

export async function getStaticPaths() {
    const blogs = await getCollection(
        "blogs",
        (e) => !import.meta.env.PROD || e.data.released === true
    );

    return Array.from(Object.entries(blogs)).map(([_, body]) => ({
        params: {
            path: body.slug
        },
        props: {
            title: body.data.title,
            text: body.body
        }
    }));
}

const { title, text } = Astro.props;
---

<MainLayout>
    <div class="mx-auto w-fit p-10 dark:text-white">
        <h2 class="w-fit">{title}</h2>
        <div class="my-3 w-fit min-w-[50vw] whitespace-pre-line">{text}</div>
        <GenericLink link="/blogs">
            <h2 class="font-bold underline">Back to blogs...</h2>
            <p>click here to go back to more blog posts</p>
        </GenericLink>
    </div>
</MainLayout>
