<!doctype html>
<html lang="en" class="bg-[#e8e8e8] dark:bg-black">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="google-site-verification"
            content="ZNKmWP18vZXTTbX5TIxztrzDVJdQTPCJavz4NQ5yGXU"
        />
        <link rel="icon" type="image/png" href="/favicon.ico" />
        <title>Chazzox's Website</title>
        <meta property="og:title" content="chazzox's personal website" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="Portfolio site for my projects" />
        <meta name="description" content="Portfolio site for my projects" />
        <meta property="og:image" content="/screenshot.jpg" />
        <meta property="og:url" content="/" />
        <meta name="twitter:card" content="/screenshot.jpg" />
        <style>
            @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
        </style>
    </head>
    <body>
        <slot />
    </body>
</html>
